button {
	border: 0;
	background-color: inherit;
	cursor: pointer;
}

button:hover {
	opacity: 0.9;
}

#sidebar button:hover {
	background-color: #cbccd071;
}

button#btn-edit {
	padding: 10;
}

button#btn-edit .icon-edit {
	color: #757d8a;
	opacity: 0.7;
	padding: 10;
	width: 35px;
	height: 40px;
	padding: 6px;
}

button#btn-edit:hover .icon-edit {
	background-color: #cbccd071;
	color: blue;
}

button#btn-trash:hover {
	background-color: #cbccd071;
}
