button {
	border: 0;
	background-color: inherit;
	cursor: pointer;
}

button:hover {
	opacity: 0.9;
}

#sidebar button:hover {
	background-color: #cbccd071;
}

a#btn-edit {
	padding: 10;
}

a#btn-edit .icon-edit {
	color: #757d8a;
	opacity: 0.7;
	padding: 10;
	width: 35px;
	height: 40px;
	padding: 6px;
}

a#btn-edit:hover .icon-edit {
	background-color: #cbccd071;
	color: blue;
}

button#btn-trash:hover {
	background-color: #cbccd071;
}

/* tablemui */
button#btn-filter:hover {
	background-color: #f0efef;
	transition: ease-in 0.1s;
}

a#back {
	background-color: black;
	color: white;
	font-weight: 600;
	border-radius: 10px;
	padding: 8px 20px;
}

a#back:hover {
	opacity: 0.8;
}
